@using {{ .Project }}.Application.Settings
@using {{ .Project }}.DomainModel
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using {{ .Project }}.AppBlazor.Components.Layout
