using {{ .Project }}.DomainModel;

namespace {{ .Project }}.DomainModel.Contexts.{{ .Context }}.Aggregates;

public sealed partial class {{ .Aggregate }} : BaseEntity
{
    private {{ .Aggregate }}() { }

    public {{ .Aggregate }}(
{{- range $index, $property := .Properties }}{{ if $index }},{{ end }} {{ $property.CSharpType }} {{ camel $property.Name }}{{ end }})
    {
{{- range .Properties }}
        {{ .Name }} = {{ if eq .CSharpType "string" }}DomainGuard.Required({{ camel .Name }}, nameof({{ camel .Name }})){{ else if eq .CSharpType "Guid" }}DomainGuard.Required({{ camel .Name }}, nameof({{ camel .Name }})){{ else if eq .CSharpType "DateOnly" }}DomainGuard.Required({{ camel .Name }}, nameof({{ camel .Name }})){{ else if eq .CSharpType "DateTime" }}DomainGuard.Required({{ camel .Name }}, nameof({{ camel .Name }})){{ else }}{{ camel .Name }}{{ end }};
{{- end }}
    }

    public long Id { get; private set; }
{{- range .Properties }}
    public {{ .CSharpType }} {{ .Name }} { get; private set; } = default!;
{{- end }}
{{- range .Relations }}
    public {{ .Target }}? {{ .Name }} { get; private set; }
{{- end }}
    // aspgen:navigation
}
