using Prism.Mvvm;
using Prism.Navigation;
using Prism.Navigation.Regions;
using {{ .Namespace }}.Models;
using {{ .Namespace }}.Services;
{{- range .Relations }}
using {{ $.Project }}.Desktop.Modules.{{ .Target }}.Services;
using {{ $.Project }}.Desktop.Modules.{{ .Target }}.Models;
{{- end }}

namespace {{ .Namespace }}.ViewModels;

public sealed class {{ .Name }}DetailsViewModel : BindableBase, INavigationAware
{
    private readonly I{{ .Name }}Store store;
    private readonly IRegionManager regionManager;
{{- range .Relations }}
    private readonly I{{ .Target }}Store {{ camel .Target }}Store;
{{- end }}
    private {{ .Name }}Row? item;

    public {{ .Name }}DetailsViewModel(I{{ .Name }}Store store, IRegionManager regionManager{{ range .Relations }}, I{{ .Target }}Store {{ camel .Target }}Store{{ end }})
    {
        this.store = store;
        this.regionManager = regionManager;
{{- range .Relations }}
        this.{{ camel .Target }}Store = {{ camel .Target }}Store;
{{- end }}
        BackCommand = new Prism.Commands.DelegateCommand(() => regionManager.RequestNavigate("MainRegion", "{{ .Name }}View"));
    }

    public {{ .Name }}Row? Item
    {
        get => item;
        private set => SetProperty(ref item, value);
    }
{{- range .Relations }}
    public {{ .Target }}Row? {{ .Target }} => Item is null ? null : {{ camel .Target }}Store.GetAll().FirstOrDefault(x => x.Id == Item.{{ .Target }}Id);
{{- end }}

    public Prism.Commands.DelegateCommand BackCommand { get; }

    public bool IsNavigationTarget(NavigationContext navigationContext) => true;

    public void OnNavigatedFrom(NavigationContext navigationContext)
    {
    }

    public void OnNavigatedTo(NavigationContext navigationContext)
    {
        var id = navigationContext.Parameters.GetValue<long>("id");
        Item = store.GetAll().FirstOrDefault(x => x.Id == id);
{{- range .Relations }}
        RaisePropertyChanged(nameof({{ .Target }}));
{{- end }}
    }
}
