using Prism.Commands;
using Prism.Mvvm;
using {{ $.Project }}.Desktop.Shared;

namespace {{ .Namespace }}.ViewModels;

public sealed class {{ .Name }}MenuViewModel : BindableBase
{
    public {{ .Name }}MenuViewModel(IAppNavigationService navigation)
    {
        OpenCommand = new DelegateCommand(() => navigation.GoTo("{{ $.Name }}List"));
    }

    public DelegateCommand OpenCommand { get; }
}