using Prism.Commands;
using Prism.Events;
using Prism.Mvvm;
using {{ .Project }}.Desktop.Shared.Events;

namespace {{ .Namespace }}.ViewModels;

public sealed class {{ .Name }}ViewModel : BindableBase
{
    private readonly IEventAggregator eventAggregator;

    public {{ .Name }}ViewModel(IEventAggregator eventAggregator)
    {
        this.eventAggregator = eventAggregator;
    }

    public DelegateCommand PublishCommand => new(() =>
        eventAggregator.GetEvent<ModuleMessageEvent>().Publish("{{ .Name }} is ready"));
}
