@using {{ .Project }}.Application
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@namespace {{ .Project }}.WebMvc.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
