<UserControl x:Class="{{ .Namespace }}.Views.{{ .Name }}View"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:prism="http://prismlibrary.com/"
    xmlns:controls="clr-namespace:{{ .Project }}.Desktop.Shared.Controls"{{ if eq .Theme "wpfui" }}
    xmlns:ui="http://schemas.lepo.co/wpfui/2022/xaml"{{ end }}
{{- if eq .Theme "wpfui" }}
    Background="{DynamicResource ApplicationBackgroundBrush}"
    Foreground="{DynamicResource TextFillColorPrimaryBrush}"
{{- end }}
    prism:ViewModelLocator.AutoWireViewModel="True">
    <controls:ListPage>
        <controls:ListPage.FilterFields>
            <WrapPanel>
{{- range .Properties }}
{{- if .RelationTarget }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }}" />
                    <ComboBox Width="140" Margin="0,4,0,0" ItemsSource="{Binding {{ .RelationTarget }}Items}" DisplayMemberPath="{{ .RelationDisplayProperty }}" SelectedValuePath="Id" SelectedValue="{Binding Filter.{{ .Name }}, Mode=TwoWay}" />
                </StackPanel>
{{- else if eq (filterKind .CSharpType) "string" }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }} contains" />
                    <TextBox Width="160" Margin="0,4,0,0" Text="{Binding Filter.{{ .Name }}Contains, UpdateSourceTrigger=PropertyChanged}" />
                </StackPanel>
{{- else if eq (filterKind .CSharpType) "numeric" }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }} min" />
                    <TextBox Width="90" Margin="0,4,0,0" Text="{Binding Filter.{{ .Name }}Min, UpdateSourceTrigger=PropertyChanged}" />
                </StackPanel>
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }} max" />
                    <TextBox Width="90" Margin="0,4,0,0" Text="{Binding Filter.{{ .Name }}Max, UpdateSourceTrigger=PropertyChanged}" />
                </StackPanel>
{{- else if eq (filterKind .CSharpType) "date" }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }} from" />
                    <DatePicker Width="130" Margin="0,4,0,0" SelectedDate="{Binding Filter.{{ .Name }}Min, Mode=TwoWay}" />
                </StackPanel>
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }} to" />
                    <DatePicker Width="130" Margin="0,4,0,0" SelectedDate="{Binding Filter.{{ .Name }}Max, Mode=TwoWay}" />
                </StackPanel>
{{- else if eq (filterKind .CSharpType) "bool" }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .DisplayName }}" />
                    <ComboBox Width="90" Margin="0,4,0,0" SelectedValuePath="Content" SelectedValue="{Binding Filter.{{ .Name }}, Mode=TwoWay}">
                        <ComboBoxItem Content="{x:Null}" />
                        <ComboBoxItem Content="True" />
                        <ComboBoxItem Content="False" />
                    </ComboBox>
                </StackPanel>
{{- end }}
{{- end }}
{{- range .Properties }}{{- if ne (relationNestedFilterField .) "" }}
                <StackPanel Margin="0,0,12,8">
                    <TextBlock Text="{{ .RelationTarget }} {{ .RelationDisplayProperty }} contains" />
                    <TextBox Width="160" Margin="0,4,0,0" Text="{Binding Filter.{{ relationNestedFilterField . }}, UpdateSourceTrigger=PropertyChanged}" />
                </StackPanel>
{{- end }}{{- end }}
            </WrapPanel>
        </controls:ListPage.FilterFields>
        <controls:ListPage.RowTemplate>
            <DataTemplate>
                <Border BorderThickness="1"{{ if eq .Theme "wpfui" }} BorderBrush="{DynamicResource ControlStrokeColorDefaultBrush}"{{ else }} BorderBrush="#E2E8F0" Background="White"{{ end }} CornerRadius="10" Padding="14,10"{{ if eq .Theme "wpfui" }} Background="{DynamicResource ControlFillColorDefaultBrush}"{{ end }}>
                    <Grid>
                        <Grid.ColumnDefinitions>
                            <ColumnDefinition Width="*" />
                            <ColumnDefinition Width="Auto" />
                        </Grid.ColumnDefinitions>
                        <WrapPanel Grid.Column="0" VerticalAlignment="Center">
{{- range .Properties }}
                            <StackPanel Margin="0,0,20,0" Orientation="Horizontal">
                                <TextBlock FontWeight="SemiBold" Text="{{ .DisplayName }}: " />
{{- if .RelationTarget }}
                                <ComboBox IsHitTestVisible="False" Focusable="False" BorderThickness="0" Background="Transparent" Padding="0"
                                          ItemsSource="{Binding DataContext.{{ .RelationTarget }}Items, RelativeSource={RelativeSource AncestorType=UserControl}}"
                                          DisplayMemberPath="{{ .RelationDisplayProperty }}" SelectedValuePath="Id" SelectedValue="{Binding {{ .Name }}, Mode=OneWay}" />
{{- else }}
                                <TextBlock Text="{Binding {{ .Name }}}" />
{{- end }}
                            </StackPanel>
{{- end }}
                        </WrapPanel>
                        <StackPanel Grid.Column="1" Orientation="Horizontal" VerticalAlignment="Center">
{{- if eq .Theme "wpfui" }}
                            <ui:Button Padding="8,4" Content="Edit" Icon="{ui:SymbolIcon Edit24}" ToolTip="Edit this {{ .Name }}" Command="{Binding DataContext.EditCommand, RelativeSource={RelativeSource AncestorType=UserControl}}" CommandParameter="{Binding}" />
                            <ui:Button Margin="4,0,0,0" Padding="8,4" Appearance="Danger" Content="Delete" Icon="{ui:SymbolIcon Delete24}" ToolTip="Delete this {{ .Name }}" Command="{Binding DataContext.DeleteCommand, RelativeSource={RelativeSource AncestorType=UserControl}}" CommandParameter="{Binding}" />
{{- else }}
                            <Button Padding="8,4" Content="Edit" Command="{Binding DataContext.EditCommand, RelativeSource={RelativeSource AncestorType=UserControl}}" CommandParameter="{Binding}" />
                            <Button Margin="4,0,0,0" Padding="8,4" Content="Delete" Command="{Binding DataContext.DeleteCommand, RelativeSource={RelativeSource AncestorType=UserControl}}" CommandParameter="{Binding}" />
{{- end }}
                        </StackPanel>
                    </Grid>
                </Border>
            </DataTemplate>
        </controls:ListPage.RowTemplate>
    </controls:ListPage>
</UserControl>
