<prism:PrismApplication x:Class="{{ .Project }}.Desktop.App"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:prism="http://prismlibrary.com/"{{ if eq .Theme "wpfui" }}
    xmlns:ui="http://schemas.lepo.co/wpfui/2022/xaml"{{ end }}>
    <Application.Resources>
        <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>
{{- if eq .Theme "wpfui" }}
                <ui:ThemesDictionary Theme="{{ .ThemeMode }}" />
                <ui:ControlsDictionary />
{{- end }}
                <ResourceDictionary Source="Themes/AppStyles.xaml" />
            </ResourceDictionary.MergedDictionaries>
{{- if eq .Theme "wpfui" }}
            <!-- WPF UI renders icon glyphs from the Fluent System Icons font,
                 which does not cover every Windows 11 icon. Registering the
                 Segoe Fluent Icons FontFamily lets missing glyphs render from
                 the Windows 11 system font (installed by default). To bundle a
                 copy for Windows 10 / offline use, replace the family name
                 below with
                 pack://application:,,,/;component/Fonts/#Segoe Fluent Icons
                 and add the font file under Fonts/ in this project. -->
            <FontFamily x:Key="SegoeFluentIcons">Segoe Fluent Icons</FontFamily>
{{- end }}
        </ResourceDictionary>
    </Application.Resources>
</prism:PrismApplication>
