<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>net10.0-windows</TargetFramework>
    <UseWPF>true</UseWPF>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
  </PropertyGroup>
{{- if eq .Backend "ddd" }}
  <ItemGroup>
    <ProjectReference Include="..\Application\Application.csproj" />
    <ProjectReference Include="..\Infrastructure\Infrastructure.csproj" />
  </ItemGroup>
{{- end }}
{{- if eq .Backend "dm" }}
  <ItemGroup>
    <ProjectReference Include="..\{{ .Project }}.Application\{{ .Project }}.Application.csproj" />
  </ItemGroup>
{{- end }}
  <ItemGroup>
    <PackageReference Include="Prism.DryIoc" Version="9.0.537" />
    <PackageReference Include="Serilog" Version="4.0.0" />
    <PackageReference Include="Serilog.Sinks.Debug" Version="3.0.0" />
    <PackageReference Include="Serilog.Sinks.File" Version="6.0.0" />
{{- if eq .Theme "wpfui" }}
    <PackageReference Include="WPF-UI" Version="4.3.0" />
{{- end }}
  </ItemGroup>
</Project>
