namespace {{ .Project }}.Application.Features.{{ .Name }};

public sealed class Create{{ .Name }}Handler(Domain.Repositories.I{{ .Name }}Repository repository)
    : IHandler<Create{{ .Name }}Command, {{ .Name }}Response>
{
    public async Task<Result<{{ .Name }}Response>> HandleAsync(Create{{ .Name }}Command request, CancellationToken cancellationToken = default)
    {
        var entity = new {{ .Project }}.Domain.Entities.{{ .Name }}(
{{- range $index, $property := .Properties }}{{ if $index }},{{ end }} request.{{ $property.Name }}{{ end }});
        await repository.AddAsync(entity, cancellationToken);
        await repository.SaveChangesAsync(cancellationToken);
        return Result<{{ .Name }}Response>.Success(new {{ .Name }}Response(entity.Id{{ range .Properties }}, entity.{{ .Name }}{{ end }}));
    }
}
