using FluentValidation;

namespace {{ .Project }}.Application.Features.{{ .Name }};

public sealed class Update{{ .Name }}Validator : AbstractValidator<Update{{ .Name }}Command>
{
    public Update{{ .Name }}Validator()
    {
{{- range .Properties }}{{ if eq .CSharpType "string" }}
        RuleFor(x => x.{{ .Name }}).NotEmpty().WithMessage("{{ .Name }} is required.");
{{- else if eq .CSharpType "Guid" }}
        RuleFor(x => x.{{ .Name }}).NotEmpty();
{{- end }}{{- end }}
    }
}
