using FluentValidation;
using Microsoft.Extensions.DependencyInjection;

namespace {{ .Project }}.Application;

public static class DependencyInjection
{
    public static IServiceCollection AddApplication(this IServiceCollection services)
    {
        services.AddValidatorsFromAssemblyContaining(typeof(DependencyInjection));
        services.AddScoped<EventStore>();
        // aspgen:services
        foreach (var type in typeof(DependencyInjection).Assembly.GetTypes())
        {
            foreach (var serviceType in type.GetInterfaces().Where(x => x.IsGenericType && x.GetGenericTypeDefinition() == typeof(IHandler<,>)))
            {
                services.AddScoped(serviceType, type);
            }
        }
        return services;
    }
}
