using FluentValidation;

namespace {{ .Project }}.Application.Features.{{ .Name }};

public sealed class {{ .Name }}Validator : AbstractValidator<{{ .Name }}Request>
{
    public {{ .Name }}Validator()
    {
{{- range .Properties }}{{ if eq .CSharpType "string" }}
        RuleFor(x => x.{{ .Name }}).NotEmpty();
{{- end }}{{ end }}
    }
}
