using {{ .Namespace }}.Models;

namespace {{ .Namespace }}.Services;

public interface I{{ .Name }}Store
{
    IReadOnlyList<{{ .Name }}Row> GetAll();
    {{ .Name }}PageResult Search({{ .Name }}SearchCriteria criteria);
    {{ .Name }}Row Save(long editingId, {{ .Name }}Row value);
    void Delete(long id);
}
