using Microsoft.AspNetCore.Mvc;

namespace {{ .Project }}.WebMvc.Controllers;

public sealed class HomeController : Controller
{
    public IActionResult Index()
    {
        // aspgen:redirect
        return View();
    }
}
