{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "WriteTo": [
      { "Name": "Console" },
      { "Name": "File", "Args": { "path": "logs/{{ kebab .Project }}-ui.log", "rollingInterval": "Day", "retainedFileCountLimit": 7 } }
    ]
  }
}
