namespace {{ .Namespace }}.Models;

public sealed record {{ .Name }}SearchCriteria(string? Search{{ filterParamDecls .Properties "pascal" }}{{ relationFilterParamDecls .Properties "pascal" }}, int Page, int PageSize);
