namespace {{ .Namespace }}.Models;

public sealed record {{ .Name }}Row(
    long Id{{ range .Properties }}, {{ .CSharpType }} {{ .Name }}{{ end }}, int Version) : global::{{ .Project }}.Desktop.Shared.IEntityRow;
